#img1{
	background-image: url(https://www.w3schools.com/css/trolltunga.jpg);
}

#img2{
	background-image: url(https://cdn.pixabay.com/photo/2016/03/28/12/35/cat-1285634_960_720.png);
}

#img3{
	background-image: url(http://www.gettyimages.ca/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg);
}

#img4{
	background-image: url(http://science-all.com/images/images/images-16.jpg);
}

#img5{
	background-image: url(http://science-all.com/images/images/images-16.jpg);
}

#img6{
	background-image: url(http://www.planwallpaper.com/static/images/PIA07759.jpg);	
}
